<div class="container">
  <div class="x_title">
    <h2 class="mt-3">Novo Produto</h2>
  </div>
  <form [formGroup]="produto" (ngSubmit)="onFormSubmit()" class="col-sm-12 col-md-8 col-lg-6">
    <div class="m-2">
      <div class="mt-3">
        <label class="form-label">Categoria</label>
        <select
          class="form-select"
          id="categoria"
          name="categoria"
          matInput
          formControlName="categoria"
          aria-placeholder="Selecione uma opção"
          required
        >
        <option selected value="">Selecione uma opção</option>
          @for (item of categoriaSelected; track $index) {
          <option value="{{ item.value }}">{{ item.label }}</option>
          }
        </select>
      </div>
      <div class="mt-3">
        <label class="form-label">Descrição</label>
        <input
          type="text"
          id="descricao"
          name="descricao"
          matInput
          formControlName="descricao"
          class="form-control"
          required
        />
      </div>
      <div class="mt-3">
        <label class="form-label">Valor (R$)</label>
        <input
          type="text"
          id="valor"
          name="valor"
          matInput
          formControlName="valor"
          class="form-control"
          required
          (keydown)="validateDecimal($event)"
        />
      </div>
      <div class="mt-3">
        <button type="submit" [disabled]="!produto.valid" class="btn btn-success">
          <i class="bi bi-plus-circle"></i>
          Adicionar
        </button>
      </div>
    </div>
  </form>
</div>
